<p id="notice"><%= notice %></p>


<p>
  <strong>Libelle:</strong>
  <%= @epargne.libelle %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @epargne.rate %>
</p>

<p>
  <strong>User:</strong>
  <%= @epargne.user %>
</p>

<%= form_for(@epargne) do |f| %>
  <div class="field">
    <%= f.label :receive %><br>
    <%= f.check_box :receive, class:"checkbox" %>
  </div>
  <div class="actions">
    <%= f.submit "recevoir", class:"btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Edit', edit_epargne_path(@epargne) %> |
<%= link_to 'Back', epargnes_path %>
