<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @conseille.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @conseille.prenom %>
</p>

<p>
  <strong>User:</strong>
  <%= @conseille.users %>
</p>

<p>
  <strong>Account:</strong>
  <%= @conseille.accounts %>
</p>

<p>
  <strong>Transaction:</strong>
  <%= @conseille.transactions %>
</p>

<p>
  <strong>Litige:</strong>
  <%= @conseille.litiges %>
</p>

<%= link_to 'Edit', edit_conseille_path(@conseille) %> |
<%= link_to 'Back', conseilles_path %>
