<div class="container">
	<div class="card col-xs-3 dashboard bg-faded">
		<div class="btn-group-sm">
			<%= link_to "ajouter compte", new_account_url, class:"btn btn-primary", remote:true %>
			<%= link_to "ajouter epargne", new_epargne_url, class:"btn btn-primary", remote:true %>
		</div>
		<% if !@accounts.empty? %>
			<%= render partial:"/partial/account", collection:@accounts %>
		<% end %>
	</div>
	<div class="col-xs-3"></div>
	<div class="col-xs-6">
		<div ng-hide="data.error">{{data.error}}</div>
		<ul class="nav nav-tabs" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" data-toggle="tab" href="#user" role="tab">User</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#account" role="tab">Account</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#transaction" role="tab">Transaction</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#litige" role="tab">litige</a>
		  </li>
		   <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#epargne" role="tab">Epargne</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#conseille" role="tab">Conseille</a>
		  </li>
		</ul>
		
		<div class="tab-content">
		  <div class="tab-pane active" id="user" role="tabpanel">
		  	  	<%= link_to "go", new_user_url, class:"btn btn-primary" %>
		  <h3>	<%= render "/partial/users_index" %></h3>
		  </div>
		  <div class="tab-pane" id="account" role="tabpanel">
		  	<%= link_to "go", new_account_url, class:"btn btn-primary" %>
		  <h3><%= render "/partial/accounts_index" %></h3>	
		  </div>
		  <div class="tab-pane" id="transaction" role="tabpanel">
		  	<%= link_to "go", new_transaction_url, class:"btn btn-primary" %>
		  	<h3><%= render "/partial/transactions_index" %></h3>
		  	</div>
		  <div class="tab-pane" id="litige" role="tabpanel">
		  	<%= link_to "go", new_litige_url, class:"btn btn-primary" %>
		  	<h3><%= render "/partial/litige_index" %></h3>
		  </div>
		  <div class="tab-pane" id="epargne" role="tabpanel">
		  	  	<%= link_to "go", new_epargne_url, class:"btn btn-primary" %>
		  	<h3><%= render "/partial/epargnes_index" %></h3>
		  </div>
		  <div class="tab-pane" id="conseille" role="tabpanel">
		  	<%= link_to "go", new_conseille_url, class:"btn btn-primary" %>
		  	<h3><%= render "/partial/conseilles_index"%></h3>
		  </div>
		</div>
	</div>
</div>
