<div class="btn btn-primary" ng-click="myaccounts()">
	json index
</div>
<process>
</process>
<table>
  <thead>
    <tr>
      <th>Zip</th>
      <th>Libelle</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody><br />
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.zip %></td>
        <td><%= account.libelle %></td>
        <% if @admin %>
	        <td><%= link_to 'Show', account %></td>
	        <td><%= link_to 'Edit', edit_account_path(account) %></td>
	        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	    <% end %>    
      </tr>
    <% end %>
  </tbody>
</table>
<table  class="table table-striped">
  <thead>
    <tr>
      <th>Zip</th>
      <th>Libelle</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody><br />
	 <tr ng-repeat="account in data.accounts">
	    <td>{{account.zip}}</td>
	    <td>{{account.libelle}}</td>   
	  </tr>
  </tbody>
</table>