<table>
  <thead>
    <tr>
      <th>Libelle</th>
      <th>Rate</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @epargnes.each do |epargne| %>
      <tr>
        <td><%= epargne.libelle %></td>
        <td><%= epargne.rate %></td>
        <td><%= epargne.user.nom %></td>
        <% if @admin %>
	        <td><%= link_to 'Show', epargne %></td>
	        <td><%= link_to 'Edit', edit_epargne_path(epargne) %></td>
	        <td><%= link_to 'Destroy', epargne, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>