<div class="btn-group-sm">
	<%= link_to 'New User', new_user_path, class:"btn btn-primary" %>
	
	<div class="btn btn-primary" ng-click="myusers()">
		json index
	</div>
</div>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Sexe</th>
      <th>Adresse</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nom %></td>
        <td><%= user.prenom %></td>
        <td><%= user.sexe %></td>
        <td><%= user.adresse %></td>
        <% if @admin %>
	        <td><%= link_to 'Show', user %></td>
	        <td><%= link_to 'Edit', edit_user_path(user) %></td>
	        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<table class="table table-striped" ng-show="data.users_empty">
	<thead>
		<tr>
		<th>Description</th>
		<th>Done</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in data.users">
			<td>{{user.nom}}</td>
			<td>{{user.prenom}}</td>
			<td>{{user.adresse}}</td>
		</tr>
	</tbody>
</table>