<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :in %><br>
    <%= f.number_field :in %>
  </div>
  <div class="field">
    <%= f.label :out %><br>
    <%= f.number_field :out %>
  </div>
  <div class="field">
    <%= f.label :libelle %><br>
    <%= f.text_field :libelle %>
  </div>
  <% if @admin %>
  
	    <div class="field">
		    <%= f.label :account_id %><br>
		    <%= f.select :account_id, @account_ids %>
	  </div>
  <% end %>
  <div class="field">
    <%= f.label :conseille_id %><br>
    <%= f.collection_select :conseille_id, Conseille.all, :id, :nom_prenom  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
