<!DOCTYPE html>
<html>
<head>
  <title>Bank</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body ng-app="bank">
	
	<nav class="navbar navbar-fixed-top  navbar-light bg-faded" role="navigation">	
		<% if !user_signed_in? %>
			<%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-primary  pull-xs-right" %>
			<%= form_tag(user_session_url, {class:"form-inline pull-xs-right", role:"login"}) do |f| %>
				<%= text_field_tag "user[email]", "user_email", value:nil, class:'form-control', placeholder:"email" %>	
				<%= password_field_tag "user[password]", "user_email", value: nil,class:'form-control',  placeholder:"Password"  %>
				
				<%= submit_tag "Login", class:"btn btn-success" %>
			<% end %>
		<% else %>
			<%= button_to 'logout', destroy_user_session_path, class:"btn btn-success pull-xs-right", method: :delete %>	
		<% end%>
	</nav>
	
	<div class="container"  ng-controller="userController">
		<% if @app %>
			<ui-view></ui-view>
		<% else %>
			<%= yield %>
		<% end %>
	</div>
</body>
</html>
