<!DOCTYPE html>
<html>
<head>
  <title>Bank</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<nav class="navbar navbar-fixed-top  navbar-light bg-faded" role="navigation">	
		<% if @current_user.nil? %>
			<%= form_tag("/login", {class:"form-inline pull-xs-right", role:"login"}) do %>
				<%= text_field_tag :nom, params[:nom], class:'form-control', placeholder:"nom" %>	
				<%= text_field_tag :prenom, params[:prenom], class:'form-control', placeholder:"prenom" %>
				<%= password_field_tag :password, params[:password], class:'form-control', placeholder:"Password"  %>
				
				<%= submit_tag "Login", class:"btn btn-success" %>
			<% end %>
		<% else %>
			<%= button_to 'logout', logout_path, class:"btn btn-success pull-xs-right", method: :delete %>	
		<% end%>
	</nav>
	
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
